.FilterOrderSwitch {
	display               : grid;
	grid-template-columns : 1fr 1fr;
	column-gap            : 2ch;

	legend {
		text-transform : uppercase;
		margin-bottom  : 1ch;
	}

	label {
		margin-right : 1ch;
	}

	p {
		display               : grid;
		grid-template-columns : auto 1fr;
		width                 : fit-content;
	}
}