@use "src/palette";

.GamePageList {
	padding-inline : 5vw;

	.ResultsCount {
		margin-bottom : 5vmax;
	}

	aside {
		margin-bottom : 10vmax;

		h3 {
			font-size     : 1.25rem;
			margin-bottom : 2.5vmax;
			text-align    : center;

			@media screen and (min-width : 40rem) {
				& {
					font-size : 1.5rem;
				}
			}
		}
	}

	.EmptyPlaceholder {
		text-align: center;
		background-image: url("/empty_placeholder.svg");
		background-repeat: no-repeat;
		padding-bottom: calc(15vmax + 2rem);
		background-size: 20rem;
		background-position: 50% calc(10vmax - 2rem);

		p {
			margin-bottom: 2rem;
			font-size: 1.2rem;
		}
	}
}
