@use "src/palette";

.SearchFilter {
	background-color : palette.$black-d1;
	border-radius    : 8px;
	box-shadow       : 0 0 4px palette.$black-d5;
	display          : grid;
	gap              : 2vh;
	margin           : 10vmax 5vw;
	margin-block     : 10vh;
	padding          : 5vmin;
	max-width        : clamp(300px, 100%, 30vw);

	label, summary, select {
		color          : palette.$cyan;
		text-transform : uppercase;
	}

	details[open] {
		summary {
			margin-bottom : 2vh;
		}
	}

	input {
		background-color : palette.$white-d6;
		padding          : 1vh;

		&[type="checkbox"] {
			display      : inline-block;
			height       : 1rem;
			width        : 1rem;
			margin-right : 2vw;

			&:checked {
				background-color : palette.$cyan;
			}
		}
	}

	select {
		background-color : palette.$black-d;
		border-radius    : 8px;
		box-shadow       : 0 0 4px palette.$black-d5;
		margin-left      : 4vw;
		padding          : 1vh 4vw;

		option {
			font-family : "Redhat Display", sans-serif;
		}
	}

	.SearchOptions {
		max-height    : 20vmax;
		margin-bottom : 1rem;
		overflow-y    : auto;

		.SearchOption {
			align-items           : center;
			display               : grid;
			grid-template-columns : auto 1fr;
			margin-bottom         : 2vh;
		}
	}
}