@use "src/palette";

.SearchFilter {
	background-color : palette.$black-d1;
	border-radius    : 8px;
	box-shadow       : 0 0 4px palette.$black-d5;
	font-size        : 0.9rem;
	display          : grid;
	gap              : 1rem;
	padding          : 5vmin;
	width            : clamp(275px, 100%, 25vw);
	height           : clamp(250px, 25vh, 50vh);
	overflow-y       : auto;
	overflow-x       : hidden;
	white-space      : nowrap;

	@media screen and (min-device-aspect-ratio: 1.7/1) {
		height: fit-content;
	}

	label, summary, select {
		color          : palette.$cyan;
		text-transform : uppercase;
	}

	details[open] {
		summary {
			margin-bottom : 2vmax;
		}
	}

	input {
		background-color : palette.$white-d6;
		padding          : 0.5rem;

		&[type="checkbox"] {
			display      : inline-block;
			height       : 1rem;
			width        : 1rem;
			margin-right : 2vw;

			&:checked {
				background-color : palette.$cyan;
			}
		}

		&[type="search"] {
			margin-left    : 2vw;
			border-radius  : 8px;
			padding-inline : 1rem;
		}
	}

	select {
		background-color : palette.$black-d;
		border-radius    : 8px;
		box-shadow       : 0 0 4px palette.$black-d5;
		margin-left      : 2vw;
		padding          : 0.5rem 1rem;

		option {
			font-family : "Redhat Display", sans-serif;
		}
	}

	.SearchOptions {
		max-height    : 10vmax;
		margin-bottom : 1rem;
		overflow-y    : auto;

		.SearchOption {
			align-items           : center;
			display               : grid;
			grid-template-columns : auto 1fr;
			margin-bottom         : 1rem;
		}
	}
}