@use "src/palette";
@use "src/animations";
@use "sass:color";

.ImageCard {
	border-radius : 8px;
	max-height    : 100px;
	isolation     : isolate;
	overflow      : hidden;
	position      : relative;
	width         : clamp(100px, 150px, 25vmax);

	button {
		text-transform: capitalize;
		background-color : color.scale(palette.$black-d5, $alpha : -40%);
		box-shadow: 0 0 4px palette.$black-d5;
		color            : palette.$white;
		font-weight      : bold;
		height           : 100%;
		position         : absolute;
		width            : 100%;
		z-index          : 2;
		white-space      : nowrap;

		&:hover {
			background-color : color.scale(palette.$black-d5, $alpha : -20%);
			color: palette.$cyan;
		}

		&:active {
			background-color : color.scale(palette.$black, $alpha : -20%);
			color: palette.$white;
		}
	}

	img {
		border-radius : 8px;
		height        : 100%;
		object-fit    : cover;
		width         : 100%;
	}
}

.setPlaceholder {
	position: relative;
}

.setPlaceholder::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  height: 100%;
  background-color: palette.$black-d5;
  content: "Loading...";
  text-align: center;
  border-radius: 8px;
  animation: fade-in 0.2s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}