@use "src/palette";
@use "sass:color";

.ImageCard {
	border-radius : 8px;
	max-height    : 100px;
	isolation     : isolate;
	overflow      : hidden;
	position      : relative;
	width         : clamp(100px, 150px, 25vmax);

	button {
		background-color : color.scale(palette.$black, $alpha : -50%);
		color            : palette.$white;
		font-weight      : bold;
		height           : 100%;
		position         : absolute;
		width            : 100%;
		z-index          : 2;
		white-space      : nowrap;
	}

	img {
		border-radius : 8px;
		height        : 100%;
		object-fit    : cover;
		width         : 100%;
	}
}