@use "src/animations.module";

.GamesList {
	display               : grid;
	grid-template-columns : repeat(auto-fit, minmax(clamp(150px, 25vw, 250px), 1fr));
	gap                   : 5vmin;
	margin-bottom         : 10vmax;
	animation             : fade-in 0.2s forwards ease-out;

	.CardAnchor {
		text-decoration: none;

		&:hover {
			text-shadow: none;
		}
	}
}