@use "src/palette";

.SearchPage {
	.SearchControls {
		grid-area     : controls;
		position      : fixed;
		z-index       : 999;
		top           : 50vh;
		margin-bottom : 5vmax;
		display       : flex;
		left          : 0;
		transform     : translateX(calc(clamp(275px, 100%, 25vw) * -1));

		@media screen and (min-device-aspect-ratio : 1.7/1) {
			& {
				position  : static;
				transform : translateX(0);

				.Switch {
					display : none;
				}
			}
		}

		&.filterVisible {
			transform : translateX(5vw);
		}

		.Switch {
			padding                   : 1rem;
			position                  : absolute;
			height                    : 25%;
			margin-top                : 5vmin;
			border-top-left-radius    : 0;
			border-bottom-left-radius : 0;

			&:hover, &:focus {
				background-color : palette.$cyan;
				box-shadow       : 0 0 8px palette.$cyan;
			}

			&:active {
				background-color : palette.$white;
				box-shadow       : none;
			}
		}
	}
}