.SearchPage {
	.SearchControls {
		position      : fixed;
		z-index       : 999;
		top           : 10vh;
		margin-bottom : 5vmax;
		display       : flex;
		left          : 0;
		transform     : translateX(-100%);

		&.filterVisible {
			transform : translateX(5vw);
		}

		.Switch {
			padding                   : 1rem;
			position                  : absolute;
			height                    : calc(100% - 10vh);
			margin-block              : 5vh;
			border-top-left-radius    : 0;
			border-bottom-left-radius : 0;
		}
	}
}