@use "src/palette";

.PanelHeader {
	flex : 1 1 400px;

	h3 {
		margin-bottom : 2rem;
	}

	.MetaCritic {
		text-transform : capitalize;
		color          : palette.$white-d2;
		margin-bottom  : 1rem;

		span {
			margin-left : 1ch;
		}
	}

	.MetaData {
		text-transform : capitalize;
		align-items    : center;
		display        : flex;
		gap            : 1ch;
		margin-bottom  : 0.5rem;

		dt {
			color : palette.$white-d2;
		}

		.Meta {
			font-weight : 500;
			display     : flex;
			gap         : 1ch;
		}
	}

	.Description {
		margin-block : 2rem;
		line-height  : 150%;
		max-width    : 512px;
	}
}