@use 'src/palette';
@use 'sass:color';

.GamePanel {
	background-color: color.scale(palette.$black-d5, $alpha: -20%);
	border-radius: 16px;
	padding: 2.5vh 5vw;

	.Header {
		margin-bottom: 10vh;

		.Released, .Publisher, .Description {
			margin-bottom: 2.5vh;
		}

		.Released, .Publisher {
			font-size: 1.2rem;
			font-weight: bold;
		}

		.Tags {
			display: flex;
			flex-wrap: wrap;
			font-weight: bold;
			color: palette.$black-d2;
			gap: 2vw;
			
			.GenreTag {
				background-color: palette.$white-d6;
				border-radius: 16px;
				padding: 1vh 2.5vw;
				width: fit-content;
			}
		}
	}

	.Banner {
		display: grid;
		gap: 10vh;
		
		img {
			border-radius: 8px;
			width: 100%;
		}
		
		.Main {
			img { height: 25vh; object-fit: cover }
		}
		
		.Screenshots {
			display: flex;
			flex-wrap: wrap;
			gap: 5vw;
			
			.Card {
				flex-basis: 37.5vw;
				position: relative;
				isolation: isolate;
				
				button {
					position: absolute;
					z-index: 2;
					width: 100%;
					height: 100%;
					color: palette.$white;
					font-weight: bold;
					background-color: color.scale(palette.$black, $alpha: -50%);
				}
			}
		}
	}
}