@use "src/palette";

.GameDetails {
	padding-inline        : 5vw;
	display               : grid;
	grid-template-areas   : "title title" "desc detail";
	grid-template-columns : 3fr 2fr;
	column-gap            : 1rem;
	margin-bottom         : 5vmax;

	h3 {
		grid-area     : title;
		margin-bottom : 2rem;
	}

	.Description {
		grid-area   : desc;
		width       : clamp(25vw, 50vw, 100%);
		line-height : 150%;
	}

	.Details {
		grid-area : detail;

		h4 {
			text-transform : uppercase;
			margin-bottom  : 1rem;
			font-weight    : 500;
		}

		.Released {
			text-transform : capitalize;
			margin-bottom  : 1rem;
		}

		.Metadata {
			text-transform: capitalize;
			margin-bottom: 1rem;
			line-height: 150%;
		}

		.Requirements {
			color : palette.$white-d4;
			margin-bottom: 1rem;
		}
	}
}