@use "sass:color";
@use "src/palette";

.MainMenu {
	$links-width     : clamp(200px, 100%, 10vw);
	background-color : transparent;
	position         : relative;

	summary {
		white-space    : nowrap;
		text-align     : center;
		color          : palette.$cyan;
		width          : min-content;
		padding        : 0.5rem 1rem;
		border-radius  : 8px;
		text-transform : uppercase;
		border         : 2px solid;
	}

	.RouteOptions {
		position         : absolute;
		top              : 0;
		right            : 0;
		margin-inline    : auto;
		z-index          : 10;
		margin-top       : calc(5vmin + 1rem + 4px + 12px);
		box-shadow       : 0 0 4px palette.$black-d5;
		border-radius    : 16px;
		padding          : 5vmin;
		background-color : palette.$black;
		text-transform   : uppercase;
		text-shadow      : 0 0 8px palette.$cyan;
		gap              : 1rem;
		display          : flex;
		flex-direction   : column;
	}
}