@use "sass:color";
@use "src/palette";

.MainMenu {
	$links-width     : clamp(200px, 100%, 20vw);
	margin           : auto;
	background-color : transparent;
	isolation        : isolate;
	width            : calc($links-width + 16px);
	height           : calc($links-width * 1.5);
	animation        : slide-in-top 0.4s ease-out;

	.RouteOptions {
		box-shadow       : 0 0 8px palette.$black-d5;
		border-radius    : 16px;
		padding          : 5vmin;
		background-color : palette.$black-d3;
		text-transform   : uppercase;
		text-shadow      : 0 0 8px palette.$cyan;
		gap              : 1rem;
		display          : flex;
		flex-direction   : column;
		width            : $links-width;
		margin-top       : calc(3em + 5vmin);
		margin-inline    : auto;
	}
}