@use "src/palette";

.Selection {
	.MainHeader, .GenreFilter {
		padding-inline : 5vw;
	}

	.MainHeader {
		margin-bottom : 5vmax;
	}

	.GenreFilter {
		display       : flex;
		flex-wrap     : wrap;
		gap           : 2vmin;
		max-width     : clamp(350px, 100%, 50vw);
		margin-bottom : 5vmax;

		.Option {
			text-transform : uppercase;
			border-radius  : 64px;
			font-size      : 0.9rem;

			&:hover, &:focus {
				background-color : palette.$cyan;
				box-shadow       : 0 0 8px palette.$cyan;
				transform        : scale(1.025);
			}

			&:active {
				transform : scale(1);
			}
		}
	}
}

.selected {
	background-color : palette.$cyan;
	box-shadow       : 0 0 8px palette.$cyan;
}