@use "src/palette";

.Selection {
	.MainHeader, .Menu {
		padding-inline : 5vw;
	}

	.MainHeader {
		margin-bottom : 5vmax;
	}

	.Menu {
		display   : flex;
		flex-wrap : wrap;
		gap       : 2vmin;
		max-width : clamp(350px, 100%, 50vw);

		.Option {
			text-transform : uppercase;
			border-radius  : 64px;
		}
	}
}