@use "src/palette";
@use "src/animations.module";

.SearchWidget {
	display    : grid;
	gap        : 5vmax;
	padding    : 5vmax 5vw;
	position   : relative;
	box-shadow : inset 0 0 4px palette.$black-d5;

	.SearchForm, .SearchMenu {
		margin-inline : auto;
	}

	.SearchForm {
		display             : grid;
		grid-template-areas :
			"label  blank " 
			"search submit";

		.Label, .Search, .Submit {
			padding-inline : clamp(1rem, 2vmin, 2vh);
			padding-block  : clamp(0.5rem, 1vmin, 1vh);
		}

		.Label {
			background-color        : palette.$cyan;
			border                  : 2px solid palette.$cyan;
			border-bottom           : none;
			border-top-left-radius  : 8px;
			border-top-right-radius : 8px;
			color                   : palette.$black;
			font-weight             : bold;
			grid-area               : label;
			width                   : fit-content;

			&:hover {
				box-shadow : 0 0 8px palette.$cyan;
			}
		}

		.Search {
			border                    : 2px solid palette.$cyan;
			background-color          : transparent;
			border-bottom-left-radius : 8px;
			grid-area                 : search;
			display                   : block;
			width                     : 100%;
			color                     : palette.$white;

			&:focus {
				background-color : palette.$white;
				color            : palette.$black;
			}
		}

		.Submit {
			border-bottom-left-radius : 0;
			border-top-left-radius    : 0;
			grid-area                 : submit;
			color                     : palette.$black;

			&:hover {
				box-shadow : 0 0 8px palette.$cyan;
			}
		}

		&:focus-within {
			.Label, .Search, .Submit {
				box-shadow : 0 0 8px palette.$cyan;
			}

			.Search {
				outline : none;
			}
		}
	}

	.SearchMenuHeader {
		font-size     : 1.5rem;
		margin-bottom : 2rem;
		text-align    : center;
	}

	.SearchMenu {
		color            : palette.$cyan;
		font-size: 0.9rem;
		display          : flex;
		width: fit-content;
		justify-content  : center;
		text-transform   : uppercase;
		gap              : 2ch;
		text-shadow      : 0 0 8px palette.$cyan;
		background-color : palette.$black-d1;
		border-radius    : 8px;
		box-shadow       : 0 0 4px palette.$black-d5;
		padding          : 2.5vmin 5vmin;

		.SearchSection {
			&[open] .SearchOptions {
				position : absolute;
				animation: fade-in 0.1s ease-in forwards;
			}

			.SearchOptions {
				max-height: calc(((1ch + 1rem ) * 11) + 1rem);
				overflow-y: auto;
				margin-top       : 1rem;
				padding          : 2vmin 5vmin;
				line-height      : 200%;
				background-color : palette.$black-d1;
				border-radius    : 8px;
				box-shadow       : 0 0 4px palette.$black-d5;
			}
		}
	}
}

