@use 'src/palette';

.SearchWidget {
	background-image: linear-gradient(to bottom, palette.$black, palette.$black-d2);
	border-radius: 8px;
	box-shadow: 0 0 8px palette.$black-d5;
	display: grid;
	gap: 8vh;
	margin: 10vh 5vw;
	padding: 5vw;

	.SearchForm {
		display: grid;
		grid-template-areas:
			"label  blank " 
			"search submit";

		.Label {
			background-image: linear-gradient(to bottom, palette.$cyan, palette.$cyan-d5);
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			color: palette.$black-d5;
			font-weight: bold;
			grid-area: label;
			margin-left: 8px;
			padding: 1vh 2.5vw 1vh 2.5vw;
			width: fit-content;
		}

		.Search {
			border-bottom-left-radius: 8px;
			border-top-left-radius: 8px;
			grid-area: search;
			padding: 2vh 5vw;
			width: calc(100% + 2.5vw);
		}

		.Submit {
			grid-area: submit;
		}
	}

	.SearchMenu {
		color: palette.$cyan;
		display: grid;
		font-variant: small-caps;
		gap: 2vh;
		justify-content: center;
		text-shadow: 0 0 8px palette.$cyan;

		.SearchOptions {
			padding-left: 5vw;
		}
	}
}

