@use "src/palette";
@use "../../../animations.module";
@use "sass:color";

.Header {
	background-color : palette.$black-d4;
	display          : flex;
	flex-wrap        : wrap;
	padding          : 2.5vmin 5vw;
	text-align       : center;
	justify-content  : center;
	gap              : 5vmin;
	align-items      : center;
	position         : relative;

	@media screen and (min-width : 40rem) {
		justify-content : space-between;
		gap             : 0;
	}

	.Banner, .Links {
		flex : 0 0 150px;
	}

	.Banner {
		max-width : clamp(24px, 36px, 2vw);
	}

	.Links {
		display : grid;
	}
}

.dialogClose {
	animation: fade-out 0.15s forwards !important;
}
