@use "src/palette";

.Header {
	background-image : linear-gradient(to bottom, palette.$black-d2, palette.$black-d4);
	box-shadow       : 0 0 8px palette.$black-d5;
	display          : grid;
	padding          : 5vw;
	place-items      : center;
	text-align       : center;
	position         : relative;

	.Banner {
		height : 10vh;
	}

	.Links {
		display : grid;
		gap     : 2vh;

		.MenuButton {
			background-color : transparent;
			background-image : none;
			color            : palette.$cyan;
			border           : 2px solid palette.$cyan;
		}

		.RouteOptions {
			text-transform   : capitalize;
			gap              : 1rem;
			flex-wrap        : wrap;
			justify-content  : center;
			position         : absolute;
			margin-inline    : auto;
			top              : 100%;
			left             : 50%;
			transform        : translate(-50%, -50%);
			background-color : palette.$black-d4;

			a {
				flex : 0 0 100%;
			}
		}
	}
}
