@use "src/palette";

.Footer {
	background-color : palette.$black-d4;
	box-shadow       : 0 0 8px palette.$black-d5;
	display          : grid;
	font-weight      : bold;
	gap              : 5rem;
	justify-content  : center;
	padding          : 5vmax 5vw;
	text-align       : center;

	.Navigation {
		text-transform : capitalize;

		&[open] summary svg {
			transform: rotate(90deg);
		}

		summary {
			font-size : 1.2rem;
		}

		nav {
			padding-top     : 2rem;
			display         : grid;
			gap             : 2vh;
			justify-content : center;
		}
	}
}