$white: hsla(32, 100%, 97%, 1);
$white-1: hsla(34, 37%, 93%, 1);
$white-2: hsla(34, 23%, 88%, 1);
$white-3: hsla(34, 17%, 84%, 1);
$white-4: hsla(32, 12%, 79%, 1);
$white-5: hsla(37, 10%, 74%, 1);
$white-6: hsla(35, 8%, 70%, 1);

$pink: hsla(332, 97%, 43%, 1);
$pink-1: hsla(332, 97%, 39%, 1);
$pink-2: hsla(332, 98%, 36%, 1);
$pink-3: hsla(332, 98%, 32%, 1);
$pink-4: hsla(332, 99%, 28%, 1);
$pink-5: hsla(332, 98%, 25%, 1);
$pink-6: hsla(332, 100%, 21%, 1);

$purple: hsla(268, 24%, 20%, 1);
$purple-1: hsla(267, 24%, 18%, 1);
$purple-2: hsla(268, 24%, 15%, 1);
$purple-3: hsla(268, 25%, 14%, 1);
$purple-4: hsla(264, 25%, 12%, 1);
$purple-5: hsla(265, 25%, 9%, 1);
$purple-6: hsla(264, 26%, 7%, 1);