*, *:before, *:after {
	border: 0;
	box-sizing: border-box;
	font: inherit;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
	text-size-adjust: none;
	vertical-align: baseline;
}

footer, header, nav, section, main {
	display: block;
}

body {
	line-height: 1;
}

ol, ul, menu {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input {
	-webkit-appearance: none;
	border-radius: 0;
}

summary::marker {
	content: none;
}

img {
	max-width: 100%;
}