@use "palette";
@use "animations";

@font-face {
	font-family : "Redhat Display";
	src         : url("assets/fonts/RedHatDisplay-VariableFont_wght.ttf") format("truetype");
	font-style  : normal;
}

:root {
	font-family : "Redhat Display", serif;
}

html {
	scroll-behavior: smooth !important;
}

body {
	background-color : palette.$black-d2;
	color            : palette.$white;

	* {
		transition: all 0.15s ease-in-out;
	}
}

h1, h2, h3 {
	font-weight    : bold;
	margin-bottom  : 10vmax;
	text-transform : uppercase;
}

h2 {
	font-size : 3rem;
}

h3 {
	font-size : 2rem;
}

a {
	color : palette.$cyan;

	&:hover {
		text-decoration: none;
		text-shadow: 0 0 4px palette.$cyan;
	}
}

button {
	white-space   : nowrap;
	border-radius : 8px;
	font-weight   : bold;
	padding       : 0.75rem 1.5rem;
}

input, label, summary, button, a, select, option, textarea, datalist {
	cursor : pointer;
}

button.primary {
	background-color : palette.$cyan;
}

button.secondary {
	background-color : palette.$white;
}

.sr-only {
	position     : absolute;
	width        : 1px;
	height       : 1px;
	padding      : 0;
	margin       : -1px;
	overflow     : hidden;
	clip         : rect(0, 0, 0, 0);
	white-space  : nowrap;
	border-width : 0;
}

::-webkit-scrollbar {
	background: none;
	width: 1vmin;

	&-thumb {
		background-color: palette.$black-d5;
		border-radius: 8px;
	}
}

@media (prefers-reduced-motion) {
	body * {
		animation: fade-in 0.2s ease-out;
	}
}
