@use 'src/palette';

.GameCard {
	background-image: linear-gradient(to bottom, palette.$black-d2, palette.$black-d4);
	border-radius: 16px;
	box-shadow: 0 0 8px palette.$black-d5;
	font-weight: bold;
	height: 80vh;
	width: 90vw;

	.Banner {
		/* Banner height should be 70% of the GameCard height, 
		   but 2vh of margin must be subtracted */
		border-top-left-radius: 16px;
		border-top-right-radius: 16px;
		height: 54vh;
		object-fit: cover;
		width: 100%;
	}

	.Name {
		font-size: 1.2rem;
		margin-block: 2vh;
		padding-inline: 5vw;
		width: 100%;
	}

	.Details {
		font-size: 0.7rem;
		margin: 0 5vw 2vh 5vw;
	}

	.Genres {
		@extend .Details;

		background-color: palette.$white-d6;
		border-radius: 16px;
		color: palette.$black-d2;
		padding: 1vh 2.5vw;
		width: fit-content;
	}

	.Tags {
		@extend .Details;
		color: palette.$white-d6;
	}
}