@use "src/palette";

.PageSwitch {
	display       : flex;
	flex-wrap     : nowrap;
	gap           : 2vmin;
	overflow-x    : auto;
	margin-inline : auto;
	width         : clamp(30vw, 100%, 50vw);
	max-width     : fit-content;
	margin-bottom : 2rem;
	padding       : 0.5rem;

	&::-webkit-scrollbar {
		display : none;
	}

	button {
		padding       : 1rem;
		border-radius : 100%;
		width         : 3rem;
		height        : 3rem;
		text-align    : center;

		&:hover, &:focus {
			transform        : scale(1.025);
			background-color : palette.$cyan;
			box-shadow       : 0 0 8px palette.$cyan;
		}
	}
}