.PageSelection {
	display       : flex;
	flex-wrap     : nowrap;
	gap           : 2vmin;
	overflow-x    : auto;
	margin-inline : auto;
	width         : clamp(30vw, 100%, 50vw);
	margin-bottom : 2rem;

	&::-webkit-scrollbar {
		display : none;
	}

	button {
		padding       : 1rem;
		border-radius : 100%;
		width         : 3rem;
		height        : 3rem;
		text-align    : center;
	}
}