.GamePage {
	.SuggestionsHeader {
		padding-inline : 5vw;
		display        : flex;
		align-items    : center;
		gap            : 5vw;
		flex-wrap      : wrap;

		.SuggestionsTitle {
			margin-bottom : 0;
		}
	}
}